APP_NAME=cnpj-importer
APP_ENV=local
APP_DEBUG=true

INPUT_DIR=./data/input
EXTRACTED_DIR=./data/extracted
TEMP_DIR=./data/temp
LOG_DIR=./logs

DB_HOST=127.0.0.1
DB_PORT=5432
DB_NAME=cnpj
DB_USER=postgres
DB_PASSWORD=postgres
DB_SSLMODE=prefer